<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @*Adding from udemy tutorial
        https://www.udemy.com/the-complete-vue-js-course/learn/v4/t/lecture/12006124?start=0
    *@
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Anton|Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">


    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/vue.js"></script>
</head>
<body>


    @RenderBody()

</body>
</html>